{% extends 'base.html' %}



{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <h1 class="text-center display-3 py-5">CRUD MANCHESTER</h1>
            <div class="col-md-6 offset-md-3">
                        <h1 class="text-secondary text-center">Registrar Rollo</h1>

                        <form action="/create/" method="POST" class="card card-body">            
            
                            {{error}}
                            
                            {% csrf_token %}
                            {{form.as_p}}
            
                            <button class="btn btn-success">Create</button>
                        </form>
            </div>

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Almacen</th>
                    <th scope="col">Diseno</th>
                    <th scope="col">Color</th>
                    <th scope="col">Metraje</th>
                    <th scope="col">Usuario</th>
                  </tr>
                </thead>

                <tbody>
                  {% for rollos in rolloss %}
                  <a class="list-group-item">
                    <tr data-href="{% url 'rollo_detail' rollos.id %}" style="cursor: pointer;">
                      <td>{{rollos.almacen}}</td>
                      <td>{{rollos.diseno}}</td>
                      <td>{{rollos.color}}</td>
                      <th>{{rollos.metros}}</td>
                      <td>{{rollos.user.username}}</td>
                    </tr>
                  </a>
                  {% endfor %}
                </tbody>
              </table>

        </div>
    </div>
</main>

<script>
  
  document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
    
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });

    </script>


{% endblock %}