{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
          <h1 class="text-center display-3 py-1">INVENTARIO MANCHESTER</h1>



              <table class="table table-hover" id="tb_rollos">
                  <thead>
                    <tr>
                      <!--<th scope="col">Código</th>-->
                      <th scope="col">#</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Almacen</th>
                      <th scope="col">Metros</th>
                    </tr>
                  </thead>

                  <tbody id="tbody_rollos">
                    <!--{% for rollos in rolloss %}
                    <a class="list-group-item">
                      <tr>
                        <td>{{rollos.almacen}}</td>
                        <td>{{rollos.diseno}}</td>
                        <td>{{rollos.color}}</td>
                        <th>{{rollos.metros}}</td>
                        <td>{{rollos.user.username}}</td>
                      </tr>
                    </a>
                    
                    {% endfor %}

                     <a class="list-group-item"></a>
                    </a>
                    -->

                    <!--
                    {% for result in data %}
                    
                    
                      <tr>
                        <td>{{result.codigo}}</td>
                        <td>{{result.almacen}}</td>
                        <td>{{result.diseno_color}}</td>                    
                        <td>{{result.metros}}</td>
                      </tr>
                     
                    {% endfor %}

                    -->
                  </tbody>
                </table>
            </form>
        </div>
    </div>
</main>


<script>

    /*
  function busqueda() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("buscar");
    filter = input.value.toUpperCase();
    table = document.getElementById("tb_rollos");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function cuantasFilas() {

    let tabla = document.getElementById("tb_rollos");
    let filas = document.getElementsByTagName("tbody")[0];

    document.getElementById("contador").innerHTML = "Rollos totales: " + filas.children.length;
      
    } 
    

    
    const tableBody = document.getElementById("tb_registros");
    const caption = document.getElementById("contador");
    caption.textContent = "Rollos totales: "+ tableBody.rows.length;
    */
  </script>

  



{% endblock content %}